{% extends "base/base.html" %}

<div class="container mt-5 my-5">
    {% block contenido %}
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                   <td>id</td> 
                   <td>Ot</td> 
                   <td>Modelo</td> 
                   <td>Serie</td> 
                   <td>Fecha Ingreso</td> 
                   <td>Sucursal</td> 
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                {% for pda in object_list %}
                <tr>
                    <td>{{ pda.id}}</td>
                    <td>{{ pda.ot}}</td>
                    <td>{{ pda.modelo_pda}}</td>
                    <td>{{ pda.serie_pda}}</td>
                    <td>{{ pda.fecha_ing}}</td>
                    <td>{{ pda.sucursal}}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'pda:pda_mostrar' pda.id %}">Ver</a>
                        <a class="btn btn-info" href="{% url 'pda:pda_editar' pda.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'pda:pda_eliminar' pda.id %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor%}
                {% else %}
                    <h1>No hay registro de Equipos</h1>
                {% endif%}
            </tbody>

        </table>
        <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    {% if page_obj.has_previous %}
                      <a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a>
                      {% endif%}
                    </li>
                  
                  <li class="page-item">
                        {% if page_obj.has_next %}
                      <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
                      {% endif%}
                </li>
                </ul>
        </nav>
    {% endblock %}
</div>

